<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="bg-white h-screen">
    <div class="">
      <%- include('../partials/nav') %> <% if(data==null){var data =
      {_id:'',name:'',phone_no:'',email:'',address:'',description:''}}%>

      <form class="form flex items-center justify-center">
        <section
          class="shadow-md py-5 px-10 rounded-xl w-[50%] h-[70vh] bg-blue-100"
        >
          <h1 class="text-3xl text-center font-semibold">Contact Form</h1>
          <div class="flex flex-col px-20 gap-px justify-center">
            <p class="text-sm">Name:</p>
            <input
            type="text"
            class="p-[2px] rounded-md border-2 border-blue-300 pl-2"
            name="name"
            required
            placeholder="Enter Full Name"
            value="<%=data.name%>"
            />
            
            <p class="text-sm">Phone Number:</p>
            <input
            type="text"
            class="p-[2px] rounded-md border-2 border-blue-300 pl-2"
            name="phone_no"
            required
            placeholder="Enter phone no"
            value="<%=data.phone_no%>"
            />
            
            <p class="text-sm">Email:</p>
            <input
            type="text"
            class="p-[2px] rounded-md border-2 border-blue-300 pl-2"
            name="email"
            placeholder="Enter email"
            value="<%=data.email%>"
            />
            
            <p class="text-sm">Address:</p>
            <input
            type="text"
            class="p-[2px] rounded-md border-2 border-blue-300 pl-2"
            name="address"
            placeholder="Enter address"
            value="<%=data.address%>"
            />
            
            <p class="text-sm">Description:</p>
            <input
              type="text"
              class="p-[2px] rounded-md border-2 border-blue-300 pl-2"
              name="description"
              placeholder="Enter description"
              value="<%=data.description%>"
            />

            <button
              type="submit"
              class="bg-purple-900 hover:bg-purple-700 p-2 text-sm text-white rounded-lg mt-5"
            >
              Save
            </button>
          </div>
        </section>
      </form>
    </div>

    <br /><%- include('../partials/footer') %>

    <script>
      const form = document.querySelector(".form");

      var serverData = `<%- JSON.stringify(data) %>`;
      serverData = JSON.parse(serverData);

      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        var form_data = Object.fromEntries(formData);

        var method = "POST";
        var url = "/contact/save";
        if (serverData._id) {
          method = "PUT";
          url += "/" + serverData._id;
        }

        fetch(url, {
          method: method,
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(form_data),
        })
          .then((res) => res.json())
          .then((data) => {
            window.location.href = data.redirect;
          })
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
